.notebook-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-body {
    background-color: white;
}

.content-h1 {
    color : #226666;
}

.content-h2 {
    color: #AA6C39;
}

.content-h3 {
    color: #D46A6A;
}

.form-label {
    color: #2D882D;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-img {
    width: 750px;
}

.content-box__img--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box {
    margin-left: 5em;
    margin-right: 5em;
}

.content-box__form {
    margin: 2.5em 5em 2.5em 5em;
}

input[type="submit"] {
    margin-top: 1.5em;
}
